GameGrid {
    layout: grid;
    grid-size: 5 5;
    background: #444444;
}

GameHeader {
    background: red;
    color: white;
    height: 1;
    dock: top;
}

GameHeader #app-title {
    width: 60%;
}

GameHeader #moves {
    width: 20%;
}

GameHeader #progress {
    width: 20%;
}

Footer {
    height: 1;
    dock: bottom;
}

Button {
    width: 100%;
    height: 100%;
    background: #440000;
    border: round #550000;
}

Button:hover {
    background: #550000;
    border: round #660000;
}

Button.on {
    background: #bb0000;
    border: round #aa0000;
}

Button.on:hover {
    background: #dd0000;
    border: round #aa0000;
}

/* five_by_five.css ends here */
